body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
   .bd-theme-settings-open-btn{
			   
			   display:none;
		   }
		   .page-title-area {
			   padding: 144px 0 40px !important;
		   }